{% extends 'base.html.twig' %}

{% block title %}Edit Livraison{% endblock %}

{% block content %}
    <h1>Modifier la livraison</h1>

    {{ include('livraison/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('livraison_index') }}">Page précédente</a>

    {{ include('livraison/_delete_form.html.twig') }}
{% endblock %}
