{% extends 'baseback.html.twig' %}
{% block title %} Espace Admin {% endblock %}
{% block titre1 %} Voir Les Rendez Vous {% endblock %}
    {% block css %}
        <style>
            #calendrier{
                width: 80%;
                margin: auto;
            }
        </style>
    {% endblock %}

{% block content %}

        <div id="calendrier">
     
        </div>



{% endblock %}


{% block script %}

    <script>
        window.onload = () => {
            let calendarElt = document.querySelector("#calendrier")

            let rendezvou = new FullCalendar.Calendar(calendarElt, {
                initialView: 'dayGridMonth',
                locale: 'fr',
                timeZone: 'Europe/Paris',
                headerToolbar: {
                    start: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth'
                },
                events: {{ data|raw }},
            })



            rendezvou.render()
        }
    </script>
{% endblock %}