<form method="post" action="{{ path('livraison_supp', {'id': livraison.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir annuler cette livraison?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ livraison.id) }}">
    <button class="btn">Annuler livraison</button>
</form>
