{% extends 'baseback.html.twig' %}
{% block title %} Espace Admin {% endblock %}
{% block titre1 %} Voir Les Avis Des clients {% endblock %}
{% block content %}
    <h1>Liste des Specialistes</h1>
    <table class="table" align="center">
        <thead>
        <tr>
            <th>Etat_service</th>
            <th>Recommendation</th>
            <th>Description_service</th>
        </tr>
        </thead>
        <tbody>
        {% for avi in avis %}
            <tr>
                <td>{{ avi.etatService }}</td>
                <td>{{ avi.recommendation }}</td>
                <td>{{ avi.descriptionService }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}