{% extends 'base.html.twig' %}

{% block title %} Chritech {% endblock %}
{% block bg%} {{ asset('front/assets/img/avbg.jpg') }}  {% endblock %}
{% block titre1 %}Services{% endblock %}
{% block titre2 %} <a  style="color: antiquewhite"> Avis <h6 style="color: floralwhite" ><small>Merci de remplir le formulaire en-dessous </small></h6></a>

{% endblock %}
{% block content %}
    <div class="rdv1">
        <section class="why_us_section layout_padding" >

            <div class="container" align="center">
                <div class="row" align="center">
                    <div class="box " align="center" >

                        {{ include('avis/_form.html.twig') }}

                        <a href="{{ path('avis_index') }}">back to list</a>

                    </div>

                </div>
            </div>
        </section>
    </div>


{% endblock %}
