{% extends 'baseback.html.twig' %}
{% block title %} Espace Admin {% endblock %}
{% block titre1 %} Gestion de produit{% endblock %}

{% block content %}
    <h1>Modification du produit</h1>

    {{ include('produit/_form.html.twig', {'button_label': 'Modifier'}) }}
    {{ include('produit/_delete_form.html.twig', {'button_label': 'Supprimer'}) }}
    <a href="{{ path('produit_show') }}">Consulter la liste de produits</a>


{% endblock %}
