
{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}

    {{ form_widget(form) }}
    <br>
    <button class="btn btn-warning " > {{ button_label|default('Confirmer') }}</button>
    {{ form_end(form) }}
