
{% extends 'base.html.twig' %}


{% block title %} Chritech {% endblock %}
{% block bg%} {{ asset('front/assets/img/pc.jpg') }}  {% endblock %}
{% block titre1 %}commande{% endblock %}
{% block titre2 %} <a  style="color:antiquewhite">Gérer votre commande <h6 style="color: antiquewhite" >Veuillez remplir le formulaire ci-dessous </h6></a>

{% endblock %}
{% block content %}
    <div class="rdv1">
        <section class="why_us_section layout_padding" >

            <div class="container" align="center">
                <div class="row" align="center">
                    <div class="box " align="center" >

                        {{ include('commande/_form.html.twig', {'button_label': 'Modifier'}) }}
                        {{ include('commande/_delete_form.html.twig' , {'button_label': 'Annuler'}) }}
                        <a href="{{ path('commande_show', {'id': commande.id}) }}">Revenir vers la page précédente</a>

                    </div>

                </div>
            </div>
        </section>
    </div>


{% endblock %}
