{% extends 'base.html.twig' %}

{% block title %}New Commande{% endblock %}

{% block content %}
    <h1>Passer une nouvelle commande</h1>

    {{ include('commande/_form.html.twig') }}

    <a href="{{ path('commande_index') }}">Page précédente</a>
{% endblock %}
