{% extends 'base.html.twig' %}
{% block content %}
<section class="why_us_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h4>
                Vous pouvez faire appel à l'expertise de notre équipe technique pour installer et réparer vos produits.
            </h4>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="box ">
                    <div class="img-box">
                        <img src="front/images/rendezvous.png" alt="" onclick="javascript:window.location='rendezvous'">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Rendez-vous
                        </h5>
                        <p>
                            Vous pouvez désormais gérer vos rendez-vous de façon facile et rapide.                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box ">
                    <div class="img-box">
                        <img src="front/images/avis.png" alt="" onclick="javascript:window.location='avis'">
                    </div>
                    <div class="detail-box">
                        <h5>
                     Avis
                        </h5>
                        <p>
                            Vous pouvez ajouter vos avis et consulter ceux d'autres personnes concernant nos services.                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box ">
                    <div class="img-box">
                        <img src="front/images/apropos.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
A propos                         </h5>
                        <p>
                            Vous pouvez consulter toutes les informations concernant la section entretien de Chritech et ces services.                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}