{% block content %}


<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-6">
            <div class="bg-white comment-section">
                <div class="d-flex justify-content-between p-3 border-top"><span <p></p>Leave a comment</span>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <br>
                    <button class="btn">{{ button_label|default('Save') }}</button>
                    {{ form_end(form) }}

                    <div class="d-flex align-items-center border-left px-3 comments"><i class="fa fa-comment"></i><span class="ml-2">6</span></div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}