{% extends 'base.html.twig' %}

{% block title %}New CarteFidelite{% endblock %}
{% block bg%} {{ asset('front/assets/img/avbg.jpg') }}  {% endblock %}

{% block titre1 %}Appliquer pour une carte de fidelité{% endblock %}
{% block titre2 %} 
    {{ include('carte_fidelite/_form.html.twig') }}

    <a href="{{ path('carte_fidelite_index') }}">back to list</a>
{% endblock %}
