{% extends 'base.html.twig' %}

{% block title %}Chritech{% endblock %}
{% block bg%} {{ asset('front/assets/img/bgg.png') }}  {% endblock %}

{% block titre1 %}Appliquer pour une carte de fidelité{% endblock %}
{% block titre2 %} 
    {{ include('carte_fidelite/_form.html.twig') }}

    <a href="{{ path('carte_fidelite_index') }}"></a>
{% endblock %}
