{% extends 'base.html.twig' %}
{% block title %} Chritech {% endblock %}
{% block bg%} {{ asset('front/assets/img/dggg.jpg') }}  {% endblock %}
{% block titre1 %}Devenez membre et activez votre carte{% endblock %}
{% block titre2 %} 
<div class="flexbox">
  <button type="button" class="btn btn-warning-s"><a href="{{ path('cartes')}}">Appliquer pour une carte de fidelité</a></div>
  <div class="main">
    <div class="flexbox-row">
      <button type="button" class="btn btn-warning" > <a href="{{ path('offre_index')}}">Voir les offres</button>
    </div>
  </div>
</div>
<style>
.flexbox {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%
}
.flexbox .main {
  flex: 1;
  position: relative
}
.flexbox .header,
.flexbox .footer {
  padding: 1em
}
.flexbox-row {
  display: flex;
  position:absolute;
  height: 100%;
  width: 100%
}
.flexbox-row .first,
.flexbox-row .second,
.flexbox-row .third {
  padding: 1em;
}
.flexbox-row .second {
  flex: 1;
}

.btn btn-warning {
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  padding-right: 25px ;
  padding-left: 45px;


}
.btn btn-warning-s {
  border-radius: 5px;
  font-size: 17px;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 20px 18px;
}
</style>

{% endblock %}
