{% extends 'base.html.twig' %}
{% block title %} Chritech {% endblock %}
{% block bg%} {{ asset('front/assets/img/dggg.jpg') }}  {% endblock %}
{% block titre1 %}Devenez membre et activez votre carte{% endblock %}
{% block titre2 %} 
<div class="flexbox">
  <div class="header"><a href="{{ path('cartes')}}"><h4>Appliquer pour une carte de fidelité</h4></a></div>
  <div class="main">
    <div class="flexbox-row">
      <div class="first"><a href="{{ path('offre_index')}}"><h4>Voir les offres</a></h4></div>
    </div>
  </div>
</div>
<style>
.flexbox {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%
}
.flexbox .main {
  flex: 1;
  position: relative
}
.flexbox .header,
.flexbox .footer {
  padding: 1em
}
.flexbox-row {
  display: flex;
  position:absolute;
  height: 100%;
  width: 100%
}
.flexbox-row .first,
.flexbox-row .second,
.flexbox-row .third {
  padding: 1em;
}
.flexbox-row .second {
  flex: 1;
}

</style>

{% endblock %}
