{% extends 'base.html.twig' %}
{% block title %} Chritech {% endblock %}
{% block bg%} {{ asset('front/assets/img/dggg.jpg') }}  {% endblock %}
{% block titre1 %}Devenez membre et activez votre carte{% endblock %}
{% block titre2 %} 
<div class="flexbox">
  <button type="button" class="btn btn-warning-s" class="btn"><a href="{{ path('cartes')}}" style="color: white">Appliquer pour une carte de fidelité</a></button>
  </div>
  <div class="main">
    
      <button style="align: center" type="button" class="btn btn-warning" > <a href="{{ path('offre_index')}}"style="color: white">Voir les offres</button>
    
  </div>
</div>
<style>
.flexbox {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%
}
.flexbox .main {
  flex: 1;
  position: relative
}
.flexbox .header,
.flexbox .footer {
  padding: 1em
}
.flexbox-row {
  display: flex;
  position:absolute;
  height: 100%;
  width: 100%
}
.flexbox-row .first,
.flexbox-row .second,
.flexbox-row .third {
  padding: 1em;
}
.flexbox-row .second {
  flex: 1;
}

.btn btn-warning {
  background-color: #E1AD01;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}
.btn  {
  background-color: #E1AD01;
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

</style>

{% endblock %}

