{% extends 'baseback.html.twig' %}
{% block title %} Espace Admin {% endblock %}
{% block titre1 %} Gestion de Categorie{% endblock %}

{% block content %}
    <h1>  Modifier Catégorie</h1>

{{ include('categorie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('categorie_indexback') }}"><button  class="btn btn-light">Retour</button></a>







<button class="btn btn-warning">  {{ include('categorie/_delete_form.html.twig') }}</button>

{% endblock %}
