{% extends 'base.html.twig' %}
{% form_theme userForm 'bootstrap_4_layout.html.twig' %}
{% block title %}Modifier Un Utilisatuers {% endblock %}

{% block content %}

    <div class="container">
        <h1 style="text-align: center">Modifier Un Utilisatuers</h1>
    {{ form(userForm) }}
    </div>
{% endblock %}